<div class="ui segments">
  <div class="ui segment client">
    <div class="client-info-left-item">
      <div class="client-img"></div>
      <div class="client-info">
        <span class="client-name">Test 4 Tester</span>
        <span>უნიკალური კოდი: 18</span>
      </div>
    </div>
    <div class="client-info-rigth-item">
      <div class="client-products-items">
        <div class="client-products-items-text">
          <span>აქტივები:</span>
          <span>plus:</span>
        </div>
        <div class="client-products-items-value">
          <span>10000 GEL</span>
          <span>5000</span>
        </div>
      </div>
      <div class="logout-btn-item">
        <button class="ui orange button logout-btn">გასვლა</button>
      </div>
    </div>
  </div>
</div>
<div class="ui horizontal segment navigation">
  <a routerLink="/krnicp" routerLinkActive="active" class="ui segment page-link">  მთავარი  </a>
  <a href="/accounts" routerLink="/accounts" routerLinkActive="active" class="ui segment page-link">ანგარიშები</a>
  <a href="/operations" routerLink="/operations" routerLinkActive="active" class="ui segment page-link">ოპერაციები</a>
</div>
