<div class="ui segments" *ngIf="this.client">
  <div class="ui segment client" >
    <div class="client-info-left-item">
      <div class="client-img" [ngStyle]="{'background-image' : 'url(' + client.image+ ')'}">
      </div>
      <div class="client-info">
        <span class="client-name">{{client.firstName}} {{client.lastName}}</span>
        <span>უნიკალური კოდი: {{client.clientKey}}</span>
      </div>
    </div>
    <div class="client-info-rigth-item">
      <div class="client-products-items">
        <div class="client-products-items-text">
          <span>აქტივები:</span>
          <span>plus:</span>
        </div>
        <div class="client-products-items-value">
          <span>{{client.sumAmount}} GEL</span>
          <span>{{client.plusPoints}}</span>
        </div>
      </div>
      <div class="logout-btn-item">
        <button class="ui orange button logout-btn" (click)="clientLogout()">გასვლა</button>
      </div>
    </div>
  </div>
  <div class="ui horizontal segments">
    <a href="/krnicp" routerLink="/krnicp" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="ui segment page-link">  მთავარი  </a>
    <a href="/krnicp/accounts" routerLink="/krnicp/accounts" routerLinkActive="active" class="ui segment page-link">ანგარიშები</a>
    <a href="/krnicp/operations" routerLink="/krnicp/operations" routerLinkActive="active" class="ui segment page-link">ოპერაციები</a>
  </div>
</div>

