<div class="ui segments">
  <div class="ui segment">
    <h1>თანხის გადარიცხვა</h1>
  </div>
  <div class="ui segment">
    <form  class="ui form" >
      <div class="ui three column grid">
        <div class="field">
          <div class="nine wide field">
            <label>გამგზავნი ანგარიში</label>
            <input type="text" >
          </div>
        </div>
        <div class="field">
          <div class="nine wide field">
            <label>მიმღები ანგარიში</label>
            <input type="text" >
          </div>
        </div>
        <div class="field">
          <div class="nine wide field">
            <label>თანხა</label>
            <input type="number" >
          </div>
        </div>
      </div>
      <button type="submit" class="ui blue icon button">
        <i class="check icon"></i>
      </button>
    </form>
  </div>
</div>
