<form class="ui form" [formGroup]="loginForm" (ngSubmit)="OnSubmitForm()" >
  <div class="field">
    <div class="ui left icon input userName">
      <i class="user icon"></i>
      <input type="text" placeholder="მომხმარებელი" formControlName="userName">
    </div>
    <div *ngIf="get('userName').touched" class="error">
      <ng-container *ngFor="let errorMessage of getErrors('userName')">
        <span class="ui red text">{{errorMessage}}</span>
      </ng-container>
    </div>
  </div>
  <div class="field">
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <input type="password" placeholder="პაროლი" formControlName="password">
    </div>
    <div *ngIf="get('password').touched" class="error">
      <ng-container *ngFor="let errorMessage of getErrors('password')">
        <span class="ui red text">{{errorMessage}}</span>
      </ng-container>
    </div>
  </div>
  <div>
    <a href="/auth/register">
      <span class="ui orange text">რეგისტრაცია</span>
    </a>
    <button class="ui basic orange right floated button" type="submit">
      <i class="sign in alternate icon"></i>შესვლა </button>
  </div>
</form>

