<form class="ui form" [formGroup]="signUpForm" (ngSubmit)="OnSubmitForm()">
  <div class="field">
    <div class="ui left icon input">
      <i class="address card icon"></i>
      <input type="text" placeholder="სახელი" formControlName="name">
    </div>
    <div *ngIf="get('name').touched" class="error">
      <ng-container *ngFor="let errorMessage of getErrors('name')">
        <span class="ui red text">{{errorMessage}}</span>
      </ng-container>
    </div>
  </div>
  <div class="field">
    <div class="ui left icon input">
      <i class="user icon"></i>
      <input type="text" placeholder="მომხმარებელი" formControlName="userName">
    </div>
    <div *ngIf="get('userName').touched" class="error">
      <ng-container *ngFor="let errorMessage of getErrors('userName')">
        <span class="ui red text">{{errorMessage}}</span>
      </ng-container>
    </div>
  </div>
  <div class="field">
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <input type="password" placeholder="პაროლი" formControlName="password">
    </div>
    <div *ngIf="get('password').touched" class="error">
      <ng-container *ngFor="let errorMessage of getErrors('password')">
        <span class="ui red text">{{errorMessage}}</span>
      </ng-container>
    </div>
  </div>
  <div class="field">
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <input type="password" placeholder="გაიმეორეთ პაროლი" formControlName="confirmPassword">
    </div>
    <div *ngIf="get('confirmPassword').touched" class="error">
      <ng-container *ngFor="let errorMessage of getErrors('confirmPassword')">
        <span class="ui red text">{{errorMessage}}</span>
      </ng-container>
    </div>
    <div *ngIf="!passwordsMatched" class="error">
      <p>პაროლები არ ემთხვევა</p>
    </div>
  </div>
  <div>
    <a href="/auth">
      <span class="ui orange text">შესვლა</span>
    </a>
    <button class="ui basic orange right floated button" type="submit">
      <i class="sign in alternate icon"></i>რეგისტრაცია</button>
  </div>
</form>


