<div class="ui segments">
  <div class="ui segment">
    <h1>კლიენტის ძებნა</h1>
  </div>
  <div class="ui segment">
    <form class="ui bordered form segment" [formGroup]="clientSearchForm" (ngSubmit)="searchClient()">
      <div class="ui three column grid">
        <div class="field">
          <label>სახელი</label>
          <input type="text" formControlName="name">
        </div>
        <div class="field">
          <label>გვარი</label>
          <input type="text" formControlName="lastName">
        </div>
        <div class="field">
          <label>კლიენტის უნიკალური</label>
          <input type="number" formControlName="clientKey">
        </div>
      </div>
      <div class="search-btn">
       <button type="submit" class="ui right-aligned blue icon button">
         <i class="search icon"></i>
       </button>
      </div>
    </form>
    <div  *ngIf="isSearchActive">
      <div class="table-header">
        <span>კლიენტები</span>
        <button class="ui icon button" (click)="addClient()">
          <i class="plus icon"></i>
        </button>
      </div>
      <table>
        <div *ngIf="!clients.length">ჩანაწერი არ მოიძებნა</div>
        <thead  *ngIf="clients.length">
        <th>სახელი</th>
        <th>გვარი</th>
        <th>კლიენტის უნიკალური</th>
        </thead>
        <tbody *ngFor="let client of clients">
          <tr class="client" (click)="moveClient(client)" >
            <td>{{client.name}}</td>
            <td>{{client.lastName}}</td>
            <td>{{client.clientKey}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
