
.ui.raised.yellow.link.card{
  margin-top: 30px;
  background-image: url("https://img.freepik.com/premium-vector/hand-painted-background-violet-orange-colours_23-2148427578.jpg?w=2000");
  background-size: cover;
}

