.ui.two.column.grid{
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.nine.wide.field{
  padding-left: 0rem;
  padding-right: 0rem;
}

.ui.form>.field{
  margin: 0 -0.5em 1em;
}

.ui.segments>.segment{
  box-shadow: none;
}
.ui.segment{
  border: none;
}

.button{
  margin-top: 40px;
}
