<div class="left-sidebar">
  <div class="left-sidebar__user-section">
   <ng-content></ng-content>
    <!-- აქ შემეძლო userData input-ად გადმომეცა(@Inpit() userData ცვლადი მექნებოდა shell-sidebar.component.ts-ში
    და shell.component.html- ამ კომპონენტში პროპერთად გადმოვცემდი [userData]="userData"), სტილებიც ამ კომპონენტში მექნებოდა,
    მაგრამ ეს ვამჯობინე -->
  </div>
  <ul class="left-sidebar__pages-section">
    <li>
      <a href="#">
        <i class="home icon"></i>
        <span>მთავარი</span>
      </a>
    </li>
  </ul>
</div>
